################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/Nop.Plugin.Shipping.Correios/obj/Release/Nop.Plugin.Shipping.Correios.csproj.CopyComplete

src/Nop.Plugin.Shipping.Correios/obj/Debug/Nop.Plugin.Shipping.Correios.pdb

src/Nop.Plugin.Shipping.Correios/obj/Debug/TempPE/Service References.wsAtendeClienteService.Reference.cs.dll

src/Nop.Plugin.Shipping.Correios/obj/Release/Nop.Plugin.Shipping.Correios.csproj.FileListAbsolute.txt

src/Nop.Plugin.Shipping.Correios/obj/Release/Nop.Plugin.Shipping.Correios.csprojAssemblyReference.cache

src/Nop.Plugin.Shipping.Correios/obj/Release/Nop.Plugin.Shipping.Correios.dll

src/Nop.Plugin.Shipping.Correios/obj/Release/Nop.Plugin.Shipping.Correios.pdb

src/Nop.Plugin.Shipping.Correios/obj/Release/Nop.Plugin.Shipping.Correios.XmlSerializers.dll

src/Nop.Plugin.Shipping.Correios/obj/Release/TempPE/Service References.wsAtendeClienteService.Reference.cs.dll

src/Nop.Plugin.Shipping.Correios/obj/Debug/DesignTimeResolveAssemblyReferences.cache

src/Nop.Plugin.Shipping.Correios/obj/Debug/Nop.Plugin.Shipping.Correios.csprojAssemblyReference.cache
