################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/Nop.Plugin.Shipping.Correios/obj/Release/Nop.Plugin.Shipping.Correios.csproj.CopyComplete
