<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="SigepWeb" nopResource="Plugins.Shippings.Correios.SIGEPWEB" PermissionNames="ManageOrders,ManageRecurringPayments,ManageReturnRequests,ManageGiftCards,ManageCurrentCarts,OrderCountryReport" IconClass="fa-tags">
    <siteMapNode SystemName="PlpAberta" nopResource="Plugins.Shippings.Correios.PLPAberta" PermissionNames="ManageOrders" controller="ShippingCorreios" action="PLPAberta" IconClass="fa-dot-circle-o" />
    <siteMapNode SystemName="PlpFechada" nopResource="Plugins.Shippings.Correios.PLPFechada" PermissionNames="ManageOrders" controller="ShippingCorreios" action="PLPAberta" IconClass="fa-dot-circle-o" />
  </siteMapNode>
</siteMap>

