<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nop.Plugin.Shipping.Correios.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://webservice.correios.com.br:80/service/rastro"
                binding="basicHttpBinding" bindingConfiguration="ServicePortBinding"
                contract="wsRastro.Service" name="ServicePort" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Nop.Plugin.Shipping.Correios.Properties.Settings>
            <setting name="Nop_Plugin_Shipping_Correios_CalcPrecoPrazoWebReference_CalcPrecoPrazoWS" serializeAs="String">
                <value>http://ws.correios.com.br/calculador/CalcPrecoPrazo.asmx</value>
            </setting>
        </Nop.Plugin.Shipping.Correios.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
